<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Repo: {{repo_name}}</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/public/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/public/js/jquery.bonsai.js"></script>
    <link rel="stylesheet" href="/public/css/bonsai.css">
</head>
<body>
<h1>Repository: {{repo_name}}</h1>
<p>{{status}}</p>

<ul id="list">
    {{{files}}}
</ul>

<button onclick="download()">Download</button>
<a href="/"><button>Back</button></a>
<form action="/logout" method="post" accept-charset="utf-8">
    <input type="submit" name="logout" id="logout" value="logout"/>
</form>
<script>const repo_name = "{{repo_name}}";</script>
<script src="/public/js/bucket_items.js"></script>
</body>
</html>
