<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Repository List - Restic Restorer</title>

    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/public/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
{{#each configs}}
    <form id="edit_repo_{{name}}_modal" class="modal grey darken-3" method="post" action="edit/repo/{{url_encode name}}">
        <div class="modal-content">
            <h4>Edit repo: {{name}}</h4>
            <div class="line">
                <div class="input-field">
                    <input type="text" id="{{name}}_new_name" class="repo_name_input white-text" name="edit_repo_name" onblur="repo_name_check(this)" maxlength="63"
                           value="{{name}}" autocomplete="off" required>
                    <label for="{{name}}_new_name">New Repository Name</label>
                </div>
            </div>
            <div class="line">
                <select required title="owning_service" name="owning_service" data-selected="{{owning_service}}" class="validate preselect" style="flex: 1 0 auto;">
                    <option value="" disabled>Select base Service</option>
                    {{#each ../services}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
                <div class="input-field" style="flex: 10 0 auto;">
                    <input type="text" id="{{name}}_new_path" class="repo_path_input white-text" name="edit_repo_path" maxlength="255" value="{{path}}" required>
                    <label for="{{name}}_new_path">New Repository Path (Appended to service path)</label>
                </div>
            </div>
            <div class="input-field">
                <input type="password" id="{{name}}_new_password" class="repo_password_input white-text" name="edit_repo_password" placeholder="[Same Password]"
                       autocomplete="off">
                <label for="{{name}}_new_password">New Repository Password</label>
            </div>
        </div>
        <div class="modal-footer grey darken-1">
            <button class="modal-close waves-effect waves-dark btn red darken-1" type="button">Discard</button>
            <button class="waves-effect waves-dark btn green darken-1 save_btn" type="submit">Save<i class="material-icons right">save</i></button>
        </div>
    </form>
{{/each}}

<form id="delete_service_confirm_modal" class="modal red darken-4" method="post" action="/delete/service/">
    <div class="modal-content">
        <h4>Delete service confirmation: <span class="service_name"></span></h4>
        <p>Are you sure you want to delete [<span class="service_name"></span>]?</p>
        <p>This will delete <b>ALL</b> repository connections that uses this preset. </p>
        <p>(Your data will be unchanged, you just have to re-add the service and repository connection if you want to access it through this site)</p>
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn btn-flat white-text" type="button">Cancel</button>
        <button class="waves-effect waves-dark btn red darken-2 delete_btn" type="submit">Confirm Delete<i class="material-icons right">delete</i></button>
    </div>
</form>

<form id="delete_config_confirm_modal" class="modal red darken-4" method="post" action="/delete/repo/">
    <div class="modal-content">
        <h4>Delete repository confirmation: <span class="repo_name"></span></h4>
        <p>Are you sure you want to delete [<span class="repo_name"></span>]?</p>
        <p>(Your data will be unchanged, you just have to re-add the repository connection if you want to access it through this site)</p>
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn btn-flat white-text" type="button">Cancel</button>
        <button class="waves-effect waves-dark btn red darken-2 delete_btn" type="submit">Confirm Delete<i class="material-icons right">delete</i></button>
    </div>
</form>

<div class="modal grey darken-3" id="preview_modal">
    <div class="modal-content">
        <h4>Repository List Command Preview for [<span class="repo_name"></span>]</h4>
        <code>Loading...</code>
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn btn-flat white-text" type="button">Close</button>
    </div>
</div>

<form id="b2_preset_modal" class="modal grey darken-3" method="post" action="add/preset/b2">
    <div class="modal-content">
        <h4>New B2 Preset</h4>
        <div class="input-field">
            <input type="text" id="b2_new_name" class="service_name_input white-text validate" name="b2_new_name"
                   onblur="repo_name_check(this)" maxlength="63" required>
            <label for="b2_new_name">New Configuration Name</label>
        </div>

        <div class="line">
            <div class="input-field">
                <input type="text" name="b2_bucket_name" id="b2_bucket_name" autocomplete="off" required>
                <label for="b2_bucket_name">Bucket Name</label>
            </div>
            <div style="flex: 0 0 20px;"></div>
            <div class="input-field">
                <input type="text" name="b2_repo_path" id="b2_repo_path" autocomplete="off" required>
                <label for="b2_repo_path">Repository Root Path [ / for base ]</label>
            </div>
        </div>
        <div class="line">
            <div class="input-field">
                <input type="password" name="b2_repo_password" id="b2_repo_password" minlength="25" autocomplete="off" required>
                <label for="b2_repo_password">Repository Password</label>
            </div>
        </div>
        <div class="line">
            <div class="input-field">
                <input type="text" name="b2_account_id" id="b2_account_id" minlength="15" autocomplete="off" required>
                <label for="b2_account_id">Account ID</label>
            </div>
        </div>
        <div class="line">
            <div class="input-field">
                <input type="text" name="b2_account_key" id="b2_account_key" minlength="25" autocomplete="off" required>
                <label for="b2_account_key">Account Key</label>
            </div>
        </div>
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn red darken-1" type="button">Close</button>
        <button class="waves-effect waves-dark btn green darken-1 save_btn" type="submit">Add<i class="material-icons right">add</i></button>
    </div>
</form>

{{#each services}}
    <form id="edit_service_{{name}}_modal" class="modal grey darken-3" method="post" action="edit/service/{{url_encode name}}">
        <div class="modal-content">

            <h4>Edit Service: <span class="service_name">{{name}}</span>
                <button class="btn right waves-effect waves-dark retrieve_details" type="button">Retrieve + Decrypt values</button>
            </h4>
            <div class="input-field">
                <input type="text" id="{{name}}_new_name" class="service_name_input white-text validate" name="new_service_name" value="{{name}}"
                       onblur="service_name_check(this)" maxlength="63" required>
                <label for="{{name}}_new_name">New Service Name</label>
            </div>
            <div class="line">
                <code style="margin-right: 10px;" class="first_part">restic -r </code>
                <select name="service_type" title="Service Type" style="width: 120px;" class="preselect" data-selected="{{1}}">
                    <option value="-1" disabled>Same Service</option>
                    {{#each ../service_type}}
                        <option value="{{id}}">{{service_type}}</option>
                    {{/each}}
                </select>
                <code style="margin: 0 10px">:</code>
                <div class="input-field">
                    <input type="text" name="enc_addr_part" id="enc_addr_{{name}}_part" placeholder="[Same Address]" autocomplete="off">
                    <label for="enc_addr_{{name}}_part">Encrypted Address Part</label>
                </div>
            </div>
            <ul class="collection with-header black env_variable_list" data-preloaded="{{list_of_env_vars}}">
                <li class="collection-header grey darken-4">Environment Variables (Encrypted)</li>
                <li class="collection-item line black">
                    <button class="btn waves-effect waves-dark add_var_btn" type="button">Add New Variable<i class="material-icons right">add</i></button>
                </li>
            </ul>
        </div>
        <div class="modal-footer grey darken-1">
            <button class="modal-close waves-effect waves-dark btn red darken-1" type="button">Close</button>
            <button class="waves-effect waves-dark btn green darken-1 save_btn" type="submit">Save<i class="material-icons right">save</i></button>
        </div>
    </form>
{{/each}}

{{#if flash}}
    <div class="message_popup modal">
        <div class="modal-content white-text {{status}}">
            <h4>{{to_uppercase status}}</h4>
            {{flash}}
        </div>
        <div class="modal-footer grey darken-1">
            <button class="waves-effect waves-dark btn modal-close" type="submit">Close<i class="material-icons right">close</i></button>
        </div>
    </div>
{{/if}}

<div class="heading">
    <h2>Restic Restorer</h2>
    <!--<h4>Repository List</h4>-->
</div>
<ul class="tabs black">
    <li class="tab"><a href="#repo_list_content">Repository List</a></li>
    <li class="tab"><a href="#service_list_content">Services</a></li>
    <li class="tab"><a href="#preset_list_content">Presets</a></li>
</ul>

<div id="preset_list_content" class="list_content">
    <ul class="collection with-header">
        <li class="collection-header grey darken-3">Preset List</li>
        <li class="collection-item grey darken-4">
            <div class="line">
                <button class="btn waves-effect waves-dark white-text full_width modal-trigger"
                        id="b2_preset"
                        data-target="b2_preset_modal">Add B2 Repository
                    <!--<i class="material-icons right">add</i>-->
                </button>
            </div>
        </li>
    </ul>
</div>

<div id="repo_list_content" class="list_content">
    <ul class="collection with-header">
        <li class="collection-header grey darken-3">Repository List</li>
        {{#each configs}}
            <li class="collection-item grey darken-4">
                <div class="line">
                    <a href="bucket/{{url_encode name}}" style="flex: 1 0 auto;">
                        <button class="btn btn-flat waves-effect waves-dark white-text repo_name">{{name}}</button>
                    </a>
                    <button class="btn btn-flat waves-effect waves-dark white-text edge_btn no_radius modal-trigger preview" data-target="preview_modal"
                            data-repo_link="{{url_encode name}}">
                        Preview
                    </button>
                    <button class="btn btn-flat waves-effect waves-dark white-text edge_btn edit no_radius modal-trigger" data-target="edit_repo_{{name}}_modal">
                        <i class="material-icons">edit</i>
                    </button>
                    <button class="btn btn-flat waves-effect waves-dark white-text edge_btn delete modal-trigger" data-target="delete_config_confirm_modal"
                            data-delete_name="{{url_encode name}}">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div class="progress invisible">
                    <div class="indeterminate"></div>
                </div>
            </li>
        {{/each}}
        <li class="collection-item grey darken-4">
            <div class="line">
                <div class="btn_wrapper center" data-position="top" data-tooltip="Please add at least 1 service.">
                    <button class="btn btn-flat waves-effect waves-dark white-text green modal-trigger"
                            id="add_new_repo_modal_btn"
                            data-target="new_repo_box">Add New Repository<i
                            class="material-icons right">add</i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="service_list_content" class="list_content">
    <ul class="collection with-header">
        <li class="collection-header grey darken-3">Service List</li>
        {{#each services}}
            <li class="collection-item grey darken-4 service_list_item">
                <div class="line">
                    <button class="btn btn-flat waves-effect waves-dark white-text edit full_width modal-trigger" data-target="edit_service_{{name}}_modal">
                        <i class="material-icons left">edit</i> {{name}}
                    </button>
                    <button class="btn btn-flat waves-effect waves-dark white-text edge_btn delete modal-trigger" data-target="delete_service_confirm_modal"
                            data-delete_name="{{url_encode name}}">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </li>
        {{/each}}
        <li class="collection-item grey darken-4">
            <div class="line">
                <button class="btn btn-flat waves-effect waves-dark white-text green center modal-trigger" data-target="new_service_box">Add New Service<i
                        class="material-icons right">add</i>
                </button>
            </div>
        </li>
    </ul>
</div>

<form id="new_repo_box" class="modal grey darken-3" action="/add/repo" method="post" accept-charset="utf-8">
    <div class="modal-content">
        <h4>Add new repository</h4>
        <div class="line">
            <div class="input-field">
                <input type="text" name="new_repo_name" id="new_repo_name" class="validate" autocomplete="off" maxlength="63" onblur="repo_name_check(this)" required>
                <label for="new_repo_name">New Repository Name</label>
            </div>
        </div>
        <div class="line">
            <select required title="owning_service" name="owning_service" class="validate" style="flex: 1 0 auto;">
                <option value="" selected disabled>Select base Service</option>
                {{#each services}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
            <div class="input-field" style="flex: 10 1 auto;">
                <input type="text" name="new_repo_path" id="new_repo_path" class="validate" autocomplete="off" maxlength="255" required>
                <label for="new_repo_path">New Repository Path (Appended to service path)</label>
            </div>
        </div>

        <div class="input-field">
            <input type="password" name="new_repo_password" id="new_repo_password" autocomplete="off">
            <label for="new_repo_password">New Repository Password</label>
        </div>
        <!--Ridiculous bloat needed to prevent FF from assuming the above it username and password and auto filling-->
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn red darken-1" type="button">Close</button>
        <button class="btn waves-effect waves-dark" type="submit">Add New Repo<i class="material-icons right">add</i></button>
    </div>
</form>

<form id="new_service_box" class="modal grey darken-3" action="/add/service" method="post" accept-charset="utf-8">
    <div class="modal-content">
        <h4>Add new service</h4>
        <div class="input-field">
            <input type="text" name="new_service_name" id="new_service_name" class="validate" autocomplete="off" onblur="service_name_check(this)" maxlength="63" required>
            <label for="new_service_name">New Service Name</label>
        </div>
        <div class="line">
            <code style="margin-right: 10px;" class="first_part">restic -r </code>
            <select name="service_type" title="Service Type" style="width: 120px;" required>
                <option value="" disabled selected>Service Type</option>
                {{#each service_type}}
                    <option value="{{id}}">{{service_type}}</option>
                {{/each}}
            </select>
            <code style="margin: 0 10px">:</code>
            <div class="input-field">
                <input type="text" name="enc_addr_part" class="validate" id="enc_addr_part" autocomplete="off" maxlength="180" required>
                <label for="enc_addr_part">Encrypted Address Part</label>
            </div>
        </div>
        <ul class="collection with-header black env_variable_list">
            <li class="collection-header grey darken-4">Environment Variables (Encrypted)</li>
            <li class="collection-item line black">
                <button class="btn waves-effect waves-dark add_var_btn" type="button">Add New Variable<i class="material-icons right">add</i></button>
            </li>
        </ul>

        <!--Ridiculous bloat needed to prevent FF from assuming the above it username and password and auto filling-->
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
        <input type="password" style="display: none;">
    </div>
    <div class="modal-footer grey darken-1">
        <button class="modal-close waves-effect waves-dark btn red darken-1" type="button">Close</button>
        <button class="btn waves-effect waves-dark" type="submit">Add New Repo<i class="material-icons right">add</i></button>
    </div>
</form>
<a href="/account/" style="flex: 1 0 auto;" class="edit_account">
    <button class="btn waves-effect waves-dark white-text"><i class="material-icons left">account_circle</i> Edit Account</button>
</a>
<form class="logout" action="/logout" method="post" accept-charset="utf-8">
    <button class="btn red waves-effect waves-dark darken-2" type="submit" name="logout" id="logout">Logout
        <i class="material-icons right">exit_to_app</i></button>
</form>

<select title="Environment Variable Name" class="browser-default" id="env_name_template" name="env_var_names_list" required>
    <option value="-1" disabled selected>Select One</option>
    {{#each env_names}}
        <option value="{{id}}">{{env_name}}</option>
    {{/each}}
</select>

<div class="footer">

    <div class="data_use">Data used: {{shared_data.used_kilobytes}}
        <div class="progress orange lighten-4">
            <div class="determinate orange"></div>
        </div>
        of {{shared_data.total_kilobytes}} KB
    </div>
</div>
<script>
    const service_names = new Set();
        {{#each services}}
        service_names.add("{{name}}");
        {{/each}}
    const repo_names = new Set();
        {{#each configs}}
        service_names.add("{{name}}");
        {{/each}}

    const used_kilobytes = {{shared_data.used_kilobytes}}+0;
    const total_kilobytes = {{shared_data.total_kilobytes}}+0;
</script>
<script src="/public/js/index.js"></script>
</body>
</html>
